<%- include('../partials/header') %>
  
  <h1><%=title%></h1>
 
      <p>This code represents an Express.js web application that serves as a platform for different web pages and functionalities.</p>
      <p>It includes routes for the homepage ("/"), an about page ("/about"), a list of users ("/users"), and individual user pages ("/users/view/:id"). The application uses EJS templates for rendering these pages</p>    
      <p>When a user accesses the homepage ("/"), it renders the "index" page with the title "Home." Similarly, the about page ("/about") renders the "about" page with the title "About Page."</p>    
      <p>For the "/users" route, it renders the "users/index" page, displaying a list of users fetched from the "test.json" file. Lastly, for the "/users/view/:id" route, it renders individual user pages, fetching user data from the "test.json" file based on the provided "id" parameter</p>
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>
<%- include('../partials/footer') %>



